@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-wibnou');
	src:url('fonts/icomoon.eot?#iefix-wibnou') format('embedded-opentype'),
		url('fonts/icomoon.woff?-wibnou') format('woff'),
		url('fonts/icomoon.ttf?-wibnou') format('truetype'),
		url('fonts/icomoon.svg?-wibnou#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-untitled:before {
	content: "\e600";
}
.icon-untitled2:before {
	content: "\e601";
}
.icon-untitled3:before {
	content: "\e602";
}
.icon-untitled4:before {
	content: "\e603";
}
.icon-untitled5:before {
	content: "\e604";
}
.icon-untitled6:before {
	content: "\e605";
}
.icon-untitled7:before {
	content: "\e606";
}
.icon-untitled8:before {
	content: "\e607";
}
.icon-untitled9:before {
	content: "\e608";
}
.icon-untitled10:before {
	content: "\e609";
}
.icon-untitled11:before {
	content: "\e60a";
}
.icon-untitled12:before {
	content: "\e60b";
}
.icon-untitled13:before {
	content: "\e60c";
}
.icon-untitled14:before {
	content: "\e60d";
}
.icon-untitled15:before {
	content: "\e60e";
}
.icon-untitled16:before {
	content: "\e60f";
}
.icon-untitled17:before {
	content: "\e610";
}
.icon-untitled18:before {
	content: "\e611";
}
.icon-untitled19:before {
	content: "\e612";
}
.icon-untitled20:before {
	content: "\e613";
}
.icon-untitled21:before {
	content: "\e614";
}
.icon-untitled22:before {
	content: "\e615";
}
.icon-untitled23:before {
	content: "\e616";
}
.icon-untitled24:before {
	content: "\e617";
}
.icon-untitled25:before {
	content: "\e618";
}
.icon-untitled26:before {
	content: "\e619";
}
.icon-untitled27:before {
	content: "\e61a";
}
.icon-untitled28:before {
	content: "\e61b";
}
.icon-untitled29:before {
	content: "\e61c";
}
.icon-untitled30:before {
	content: "\e61d";
}
.icon-untitled210:before {
	content: "\e61e";
}
.icon-untitled31:before {
	content: "\e61f";
}
.icon-untitled32:before {
	content: "\e620";
}
.icon-untitled33:before {
	content: "\e621";
}
.icon-untitled34:before {
	content: "\e622";
}
.icon-untitled35:before {
	content: "\e623";
}
.icon-untitled36:before {
	content: "\e624";
}
.icon-untitled37:before {
	content: "\e625";
}
.icon-untitled38:before {
	content: "\e626";
}
.icon-untitled39:before {
	content: "\e627";
}
.icon-untitled40:before {
	content: "\e628";
}
.icon-untitled41:before {
	content: "\e629";
}
.icon-untitled42:before {
	content: "\e62a";
}
.icon-untitled43:before {
	content: "\e62b";
}
.icon-untitled44:before {
	content: "\e62c";
}
.icon-untitled45:before {
	content: "\e62d";
}
.icon-untitled46:before {
	content: "\e62e";
}
.icon-untitled47:before {
	content: "\e62f";
}
.icon-untitled48:before {
	content: "\e630";
}
.icon-untitled49:before {
	content: "\e631";
}
.icon-untitled50:before {
	content: "\e632";
}
.icon-untitled51:before {
	content: "\e633";
}
.icon-untitled52:before {
	content: "\e634";
}
.icon-untitled53:before {
	content: "\e635";
}
.icon-untitled54:before {
	content: "\e636";
}
.icon-untitled55:before {
	content: "\e637";
}
.icon-untitled56:before {
	content: "\e638";
}
.icon-untitled57:before {
	content: "\e639";
}
.icon-untitled58:before {
	content: "\e63a";
}
.icon-untitled59:before {
	content: "\e63b";
}
.icon-untitled60:before {
	content: "\e63c";
}
.icon-untitled61:before {
	content: "\e63d";
}
.icon-untitled62:before {
	content: "\e63e";
}
.icon-untitled63:before {
	content: "\e63f";
}
.icon-untitled64:before {
	content: "\e640";
}
.icon-untitled65:before {
	content: "\e641";
}
.icon-untitled66:before {
	content: "\e642";
}
.icon-untitled67:before {
	content: "\e643";
}
.icon-untitled68:before {
	content: "\e644";
}
.icon-untitled69:before {
	content: "\e645";
}
.icon-untitled70:before {
	content: "\e646";
}
.icon-untitled71:before {
	content: "\e647";
}
.icon-untitled72:before {
	content: "\e648";
}
.icon-untitled73:before {
	content: "\e649";
}
